body {
    text-align: center;
    /* width: 1500px; */
    /* margin-left: auto;
    margin-right: auto; */
    border: 1px solid black;
    margin-top: 2em;
    background-color:antiquewhite;
}

header, main {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 2em 0;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    color: pink;
}

.cancel {
    text-decoration: line-through;
}

main section {
    padding: 1em 0;
}

main .lists {
    /* display: inline-block; */
    margin: 2em 2em 2em 2em;
    min-height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 1em;
    background-color: antiquewhite;
    text-align: center
}

main .lists h2 {
    font-size: 1.5em;
    padding: 1em 0 0.5em 0;
}

main .lists div {
    margin: 0.8em;
}

#to-do {
    display: inline-block;
}

#shopping-list {
    display: inline-block;
}

.lists button {
    padding: 0.5em;
    color: pink;
    background-color: white;
    border: 0;
}

form {
    margin: 2em 0;
}

form div {
    margin: 1em 0;
}

#request-form-type {
    display: none;
}

.form-type {
    display: none;
    border: 1px solid black;
    padding: 1em;
}